.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  height: 50vh;
}
.timer{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer button{
  width: 100px;
  height: 40px;
  margin: 10px;
  border-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.start{
  background-color:green;
}
.stop{
  background-color:red;
}
.reset{
  background-color:rgb(250, 214, 53);
}
.continue{
  background-color: rgb(111, 0, 255);
}

*:disabled {
  opacity: .5;
  cursor: not-allowed;
}